/*
//----------------------------------------------------------------------------
// - 盒模型              18

    .clearfix           清除浮动
    .center-block       居中 相当于margin:0 auto
    .size(px;px)        宽高不同
    .square(px)         宽高相等的正方形
    .resizable          (none|both|horizontal|vertical)
                        规定用户是否可以调整元素尺寸
    .scrollable         元素滚动回弹效果'暂时只支持safair'


// - 排版                72

    .text-overflow(display|inline-block)        单行文字截取
    .text-hide                                  就隐藏文字
    .line-clamp(num,line-height)                多行文字截取,(行数,行高)

// - Visual             117

    .tab-focus                    焦点状态
    .border-[t|r|b|l]-radius(px)  边框圆角[top|right|bottom|left](圆角大小)
    .opacity(num)                 透明度

// - Flex Box           159

    .flexbox(flex|inline-flex)  弹性布局父元素
    .flex(num)弹性布局子元素
    >>>TODO 其他flex以后完善,感觉作用不大,就是加了前缀

// - 箭头               317

    .caret-[d|u|l|r](px,color)                              三角形方向[down|up|left|right](大小,颜色),如果是before,after需要content
    .arrow(color,px,px,deg)                                 箭头> (颜色,长度,宽度,方向),默认右45deg,下135,上-45,左-135
    .angle-base                                 
    .angle-[u|d|l|r]-variant(color,color,px)                带边框边框的三角形[up|down|left|right](边框色,背景色,大小),要配合上面base

// - 元件               493
// - 公共的             634
// - 渐变               709
// - CSS3 前缀          814
// - 其他               1010

  .retina-bg-img(@file-1x; @file-2x; @width-1x; @height-1x) 需要做retina适应的背景图

//---------------------------------------------------------------------------
*/
.mx-reset-box {
  list-style: none;
  padding: 0;
  margin: 0;
}
.mx-reset-font {
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
}
/**
  * Header Theme: default
  说明: .ui-menu-nav 为一级菜单父元素 .ui-menu-nav2 为二级菜单父元素, 以此类推!
  */
/**
*
* header
*
**
.ui-header-default {
  height: 50px;
  line-height: 50px;
}


/**
*
* list
*
**/
.ui-list-text,
.ui-list-one {
  margin-bottom: 0;
}
.ui-list-text li,
.ui-list-one .ui-list-item {
  border-bottom: 1px solid #dddddd;
}
.ui-list-text li:last-child,
.ui-list-one li:last-child {
  border: 0;
}
.ui-list-tt {
  color: #333333;
}
.ui-list-brick .ui-list-dc {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-height: 24px;
  max-height: 48px;
}
/**
*
* menu
*
**/
.model-menu {
  position: relative;
  z-index: 1020;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.model-menu .ui-menu-nav {
  margin: 0;
  padding: 0;
}
.model-menu .nav-item {
  list-style: none;
}
.model-menu .ui-menu-nav a,
.model-menu .ui-menu-nav2 a {
  word-wrap: normal;
  /* for IE */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-align: center;
  font-size: 1.4rem;
}
.model-menu .ui-menu-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  height: 50px;
  background: #eeeeee;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}
.model-menu .ui-menu-nav > .nav-item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.model-menu .ui-menu-nav > .nav-item > a {
  height: 50px;
  line-height: 50px;
  color: #333333;
}
.model-menu .ui-menu-nav .z-active > a {
  position: relative;
}
.model-menu .ui-menu-nav .z-active > a:before {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-bottom: 6px solid #0e90d2;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  border-top: 0 dotted;
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
  content: '';
  bottom: 0;
  left: 50%;
  margin-left: -10px;
  position: absolute;
}
.model-menu .ui-menu-nav2 {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  background: #0e90d2;
  margin: 0;
  padding: 0;
}
.model-menu .ui-menu-nav2:before,
.model-menu .ui-menu-nav2:after {
  content: " ";
  display: table;
}
.model-menu .ui-menu-nav2:after {
  clear: both;
}
.model-menu .ui-menu-nav2 > .nav-item {
  float: left;
  width: 25%;
}
.model-menu .ui-menu-nav2 > .nav-item > a {
  height: 40px;
  line-height: 40px;
  color: #ffffff;
}
