/**
  * Header Theme: default
  说明: .ui-menu-nav 为一级菜单父元素 .ui-menu-nav2 为二级菜单父元素, 以此类推!
  */



//参数
    
    @ui-list-ul-m:0 0 20px 0;                     //列表(ul)的(margin)
    @ui-list-li-m:0 0 0 10px;                     //每列(li)的(margin)
    @ui-list-thumb-s:100px;                       //图文列表-图片尺寸设置(size)
    @ui-list-thumb-m:10px 10px 10px 0;            //图文列表-图片间距(margin)
    @ui-list-spacing: 10px;                       //间距

    @ui-list-tit-line:2;                          //标题行数
    @ui-list-tit-lh:24px;                         //标题行高
    @ui-list-tit-fs:14px;                         //标题大小

    @z-list-link-s:8px;                           //箭头大小
    @z-list-link-r:10px;                          //箭头距右距离


.ui-list-one {
    background: #fff;
    margin:  @ui-list-ul-m;

    .ui-list-item{
        .flexbox();
         margin:  @ui-list-li-m;
    }
        //创建箭头
    .ui-list-link{
        position: relative;

        .ui-list-d{
            padding-right: (@z-list-link-r+(@z-list-link-s/2))*2;
        }
         &:after{
            right: @z-list-link-r;
            content: '';
            position: absolute;
            top:50%;
            margin-top: -@z-list-link-s/2;
            .arrow(@gray,@z-list-link-s,2px,45deg);
        }
    }
        
    //图片区域
    .ui-list-p{
        width:  @ui-list-thumb-s;
        margin:  @ui-list-thumb-m;
        position: relative;
        img{width: 100%;}
    }
    
    //文字区域
    .ui-list-d{
        .flex(1);
        overflow: hidden;
        margin-left: 0;
        padding-right: @ui-list-spacing;
        .mx-center();
   }

   //文字区域-标题
   .ui-list-dt{
        display: block;
        margin: 0;
        padding: 0;
        font-size: @ui-list-tit-fs;
        font-weight: 300;
        color: @gray;
        .line-clamp(@ui-list-tit-line,@ui-list-tit-lh);
    }
    
    //文字区域-内容
    .ui-list-dc{
        display: block;
        margin: 0;
        padding: 0;
        font-size: 12px;
        line-height: 22px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 100%;
        color: gray;
    }
    
}

// TODO: 
