/*==========  list 基础样式  ==========*/

/**
*** 模块基本结构
    <ul class="ui-list ui-list-text">
      <li class="ui-list-item ui-list-link">
        <div class="ui-list-p">
          <img src="../img/pic.jpg" alt="">
        </div>
        <div class="ui-list-d">
          <h4 class="ui-list-dt">标题</h4>
          <p class="ui-list-dc">内容</p>
        </div>
      </li>
    </ul>
*
**/

  @ui-list-item-min-h:45px;                     //每列最小高度
  @ui-list-ul-m:0 0 20px 0;                     //列表(ul)的(margin)
  @ui-list-li-m:0 0 0 10px;                     //每列(li)的(margin)
  @ui-list-thumb-s-md:100px;                    //图文列表-图片尺寸设置(size)
  @ui-list-thumb-s-sm:60px;                     //图文列表-图片尺寸设置(size)
  @ui-list-thumb-m:10px 10px 10px 0;            //图文列表-图片间距(margin)
  @ui-list-spacing: 10px;                       //间距
  @ui-list-tit-line:2;                          //标题行数
  @ui-list-tit-lh:24px;                         //标题行高
  @ui-list-tit-fs:16px;                         //标题大小
  @ui-list-link-s:8px;                           //箭头大小
  @ui-list-link-r:10px;                          //箭头距右距离
  @ui-list-thumb-s:100px;                       //图文列表-图片尺寸设置(size)
  @ui-list-thumb-m:10px 10px 10px 0;            //图文列表-图片间距(margin)

  @ui-list-brick-d-h: auto;                     //块模块-文字区域高度


.ui-list {
    display: block;
   .ui-list-p{}                 //图片模块        (picture)
   .ui-list-d{                  //文字模块        (doc)
        .ui-list-dt{}           //文字模块标题     (title)
        .ui-list-dc{}           //文字模块内容     (content)
   }
}
.ui-list-tt{
    .mx-reset-box();
    font-size: 16px;
    line-height: 40px;
    margin-left: 10px;
    color: @global-primary;
    font-weight: bold;
}
.ui-list-active{
  &:active{background: #f1f1f1;}
}

/**
*
* 合并专项
*
**/
.ui-list-text,
.ui-list-one,
.ui-list-fun,
.ui-list-brick{
  background: #fff;
  margin:  @ui-list-ul-m;

  .ui-list-item{
    .flexbox();
    margin:  @ui-list-li-m;
    min-height: @ui-list-item-min-h;
  }

  //创建箭头
  .ui-list-link{
      position: relative;
      padding-right: (@ui-list-link-r+(@ui-list-link-s/2))*2;

       &:after{
          content: '';
          position: absolute;
          top:50%;
          right: @ui-list-link-r;
          margin-top: -@ui-list-link-s/2;
          .arrow(@gray,@ui-list-link-s,2px,45deg);
      }
  }
    // 图片区域
    .ui-list-p{
      img{width: 100%;}
    }
   //文字区域
    .ui-list-d{
        .flex(1);
        position: relative;
        overflow: hidden;
        margin-left: 0;
   }

   //文字区域-标题,内容
   .ui-list-dt,
   .ui-list-dc{
        display: block;
        margin: 0;
        padding: 0;
        font-weight: 300;
    }
    
    //文字区域-内容
    .ui-list-dc{
        color: @gray-light;
    }
}

/**
*
* 列表文字
*
**/

.ui-list-text {

    .ui-list-item{
        color: @gray;
    }

   //图片区域
    .ui-list-p{
        width:  @ui-list-thumb-s-sm;
        margin:  @ui-list-thumb-m;
        position: relative;
        
    }

    .ui-list-d{
        padding: @ui-list-spacing 0;
   }

   //右侧固定
    .ui-list-dr{
        padding: 0 10px;
        .mx-center-center;
   }

   .ui-list-dt{
        .flex(1);
        .line-clamp(1,@ui-list-tit-lh);
        // 标题注解
        .dt-note{
            color: @gray-light;
            margin-left: 5px;
        }
    }
    .ui-list-dc{
      .line-clamp(2,@ui-list-tit-lh);
    }
    .ui-list-dr{
        .mx-center-center;
    }
}

/**
*
* 图文列表
*
**/
.ui-list-one {

    //图片区域
    .ui-list-p{
        width:  @ui-list-thumb-s-md;
        margin:  @ui-list-thumb-m;
        position: relative;
    }
    
    .ui-list-d{
        padding-right: @ui-list-spacing;
        .mx-center();
   }

   .ui-list-dt{
        color: @gray;
        .line-clamp(@ui-list-tit-line,@ui-list-tit-lh);
    }
    .ui-list-dc{
      .line-clamp(1,@ui-list-tit-lh);
    }
}

/**
*
* brick
*
**/
.ui-list-brick {
    padding: @ui-list-spacing;
    padding-left: 0;
    background: #fff;

  .ui-list-item{
        padding-left: @ui-list-spacing;
        display: block;
        margin: 0;
    }

  .ui-list-p{
        width:  100%;
    }

  .ui-list-d{
      height: @ui-list-brick-d-h;
   }
  .ui-list-dt{
    margin: 5px 0 0 0;
    .line-clamp(1,@ui-list-tit-lh);
  }
  .ui-list-dc{
    .line-clamp(2,@ui-list-tit-lh);
  }
}

