// Write Your Css

.ui-liveapp{
	.ui-liveapp-page {
		.tt {
			position: absolute;
			width: 100%;
			top: 10%;
			text-align: center;
		}
		.txt {
			position: absolute;
			width: 100%;
			top: 20%;
			text-align: center;
		}
		.goods {
			width: 100%;
			height: 20%;
			top: 30%;
			position: absolute;
		}
		&.ui-liveapp-page1 {
			background: #fff;
		}
		&.ui-liveapp-page2 {
			background: #ff0;
		}
	}
}

.ui-header-default {
	background: rgba(255, 255, 255, .9);
	border-bottom: 1px solid #c3c3c3;
	.ui-header-nav > a{color: #000;}
}

.ui-liveapp{top: 0px}