// LESS 变量 和 函数 
@import "variables.less";
@import "mixins.less";

.order-submit{
	img{background: #f1f1f1;}
	font-size: 1.6rem;
	//改变框架默认属性
	.ui-list-text, 
	.ui-list-one {margin-bottom: 0;}
	.ui-list-text li,.ui-list-one .ui-list-item{.mx-bd-b();}
	.ui-list-text li:last-child,.ui-list-one li:last-child{border: 0;}
	.ui-list-tt{color: @gray-dark;}

}