// css reset

	body{line-height:1.428; color:#333; 
		font-family:Helvetica,STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Arial ; 
		font-size: 14px; background:white;
	} 
	input,textarea,select{font-size:12px; font-size:100%; font-family:arial; font-family:inherit;} 
	body,h1,h2,h3,h4,h5,h6,p,ul,ol,form,i,b,u,span,input,textarea,select,dl,dd,dt{margin:0;padding: 0;}
	h1{font-size:1.5em;} h2{font-size:1.5em;font-weight: normal;} h3{font-size:1.2em;} 
	h4{font-size:1.2em;font-weight: normal;} 
	h5{font-size:1em;} 
	h6{font-size:1em;font-weight: normal;} 
	i,b,u,span,em{font-style: normal;font-weight: normal;text-decoration: none;} 
	ul,ol{padding-left:0; list-style-type:none;} 
	a img{border:0;} img{border:0;} 
	a{text-decoration:none; outline:none;-webkit-touch-callout:none;} 
	a:hover{ text-decoration:none;} 
	img{-webkit-touch-callout:none;vertical-align:bottom;}
	a:link, a:visited { text-decoration:none;}
	input:focus { outline: none; }
	input,button,select,textarea{outline:none;-webkit-appearance:none;outline:none}
	textarea{resize:none;}