// Component:		  Variables
//
// Description:		Define all variables less参数 集合
//
// =============================================================================

// @ns: ~"am-";

// Global variables
// =============================================================================


// Black - White - Gray
// -----------------------------------------------------------------------------

@black:           #000;
@white:           #fff;

@gray-darker:     lighten(@black, 13.5%); // #222
@gray-dark:       lighten(@black, 20%);   // #333
@gray:            lighten(@black, 33.5%); // #555
@gray-light:      lighten(@black, 60%);   // #999
@gray-lighter:    lighten(@black, 93.5%); // #eee


// Brand Colors
// -----------------------------------------------------------------------------

@global-primary:	    #0e90d2; // #157EFB; //#428bca;
@global-secondary:    lighten(@global-primary, 15%);
@global-success:	    #5eb95e; // #53D76A; //#5cb85c;
@global-warning:	    #F37B1D; // #FD9426; // #f0ad4e;
@global-danger:		    #dd514c; // #FC3159; //#da314b;
@global-info:         @global-secondary;


// One
// -----------------------------------------------------------------------------

@one-primary: #15afef;


// body
// -----------------------------------------------------------------------------

@body-bg:               @white;
@text-color:            @gray-dark;


// Links
// -----------------------------------------------------------------------------

@link-color:              @global-primary;
@link-hover-color:        darken(@link-color, 15%);

@global-contrast-color:	  @white;


// Backgrounds & Borders
// -----------------------------------------------------------------------------

@global-background:				@white;
@global-border:					  #ddd;


// Typography
// =============================================================================

// Font family
// -----------------------------------------------------------------------------

// FreeSans: 附带许多Linux发行版,包括Ubuntu
// Droid Sans: 老版 Android 字体
// Roboto:新版 Android 字体
// Helvetica, Arial, sans-serif:OS X 和 Windows 的通用字体.
// Helvetica Neue: iOS & OS X 10.10 UI 字体

// @font-family-sans-serif: Helvetica Neue, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans","wenquanyi micro hei","Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif;

@font-family-sans-serif: "Helvetica Neue",Helvetica,STHeiTi,sans-serif;

@font-family-serif: Georgia, "Times New Roman", Times, SimSun, "FontAwesome", serif; //FangSong, STFangSong

@font-family-monospace: Monaco, Menlo, Consolas, "Courier New", "FontAwesome", monospace;

@font-family-kai: Georgia, "Times New Roman", Times, Kai, "Kaiti SC", KaiTi, BiauKai, "FontAwesome", serif;


// Font  size
// -----------------------------------------------------------------------------

@global-font-size:				1.6rem; //16px
@global-line-height:			1.6;
@font-size-base:          @global-font-size;

@line-height-base:        @global-line-height;
@line-height-computed:    floor(@font-size-base * @line-height-base); // 2


@font-size-xxs:           @global-font-size - 0.6; // 10px - 1rem
@font-size-xs:            @global-font-size - 0.4; // 12px
@font-size-sm:            @global-font-size - 0.2; // 14px
//@font-size-default:     @global-font-size;       // 16px
@font-size-lg:            @global-font-size + 0.2; // 18px
@font-size-xl:            @global-font-size + 0.8; // 24px
@font-size-xxl:           @global-font-size * 2;   // 32px
@font-size-xxxl:          @global-font-size * 2 + 1; // 42px


// Global spacing
// =============================================================================

@global-spacing:                1.6rem;

@global-spacing-xs:             0.5rem;
@global-spacing-sm:             1rem;
@global-spacing-lg:             2.4rem;
@global-spacing-xl:             3.2rem;


// Margin
// -----------------------------------------------------------------------------

@global-margin:									  @global-spacing;

@global-margin-xs:							  @global-spacing-xs;
@global-margin-sm:							  @global-spacing-sm;

@global-margin-lg:							  @global-spacing-lg;
@global-margin-xl:							  @global-spacing-xl;


// Border radius
// -----------------------------------------------------------------------------

@global-radius:         0;
@radius-normal:         2px;
@radius-lg:             5px;
@radius-sm:             1px;

@global-rounded:         1000px;
@global-square:           0;



// Responsive variables
// =============================================================================

// Breakpoint
// -----------------------------------------------------------------------------

@breakpoint-small:            640px;  // 0 - 640px
@breakpoint-medium:           1024px; // 641 - 1024px
@breakpoint-large:            1280px; // 1025 - 1280px
@breakpoint-xl:               1440px; // 1281 - 1440px
@breakpoint-xxl:              1920px; // 1441 -1920px

@breakpoint-small-max:        @breakpoint-small;
@breakpoint-md:               @breakpoint-small-max; // legacy var, DO NOT USE IT

@breakpoint-medium-min:       (@breakpoint-small + 1);
@breakpoint-medium-max:       @breakpoint-medium;

@breakpoint-large-min:        (@breakpoint-medium + 1);
@breakpoint-large-max:        @breakpoint-large;

@breakpoint-xl-min:           (@breakpoint-large + 1);
@breakpoint-xl-max:           @breakpoint-xl;

@breakpoint-xxl-min:          (@breakpoint-xl + 1);
@breakpoint-xxl-max:          @breakpoint-xxl;


// Media Queries
// NOTE '~' in the beginning - media query must be escaped
// -----------------------------------------------------------------------------

@screen:        ~"only screen";

@landscape:     ~"@{screen} and (orientation: landscape)";
@portrait:      ~"@{screen} and (orientation: portrait)";

@small-up:      ~"@{screen}";
@small-only:    ~"@{screen} and (max-width: @{breakpoint-small-max})";

@medium-up:     ~"@{screen} and (min-width:@{breakpoint-medium-min})";
@medium-only:   ~"@{screen} and (min-width:@{breakpoint-medium-min}) and (max-width:@{breakpoint-medium-max})";

@large-up:      ~"@{screen} and (min-width:@{breakpoint-large-min})";
@large-only:    ~"@{screen} and (min-width:@{breakpoint-large-min}) and (max-width:@{breakpoint-large-max})";

@xl-up:         ~"@{screen} and (min-width:@{breakpoint-xl-min})";
@xl-only:       ~"@{screen} and (min-width:@{breakpoint-xl-min}) and (max-width:@{breakpoint-xl-max})";

@xxl-up:        ~"@{screen} and (min-width:@{breakpoint-xxl-min})";
@xxl-only:      ~"@{screen} and (min-width:@{breakpoint-xxl-min}) and (max-width:@{breakpoint-xxl-max})";


// Grid system
// -----------------------------------------------------------------------------

@grid-columns:              12;
@grid-gutter:               1rem;   // Columns padding
@grid-gutter-md:            1.5rem; // 15px
@grid-max-width:            1000px;


// =============================================================================
// Z-index
// =============================================================================

@global-z-index:		        1000;

@z-index-topbar-fixed:      @global-z-index;
@z-index-datepicker:        @global-z-index;
@z-index-sticky:            @global-z-index + 10;
@z-index-dropdown:          @global-z-index + 20;
@z-index-popover:           @global-z-index + 30;
@z-index-offcanvas:         @global-z-index + 90;
@z-index-dimmer:            @global-z-index + 100;
@z-index-modal:             @global-z-index + 110;
@z-index-pureview:          @global-z-index + 120;
@z-index-nprogress:         @global-z-index + 1000;

// Widgets
@z-index-navbar:            @global-z-index + 10;
@z-index-gotop-fixed:       @global-z-index + 40;
@z-index-header-fixed:      @global-z-index + 10;					//Yecui header 顶栏
@z-index-menu:      		@global-z-index + 20;					//Yecui menu 顶栏
@z-index-loading:     		@global-z-index + 30;					//Yecui loading 加载动画遮罩


// =============================================================================
// Component Common
// =============================================================================

@component-active-color:         #fff;
@component-active-bg:            @global-primary;


// =============================================================================
// Components variables
// =============================================================================

// Base
// =============================================================================

@base-background:							@global-background;
@base-font-family:					  		@font-family-sans-serif;
@base-font-weight:							normal;
@base-font-size:							@global-font-size;
@base-line-height:							@global-line-height;
@base-text-color:						  	@gray-dark;

// em element
@base-em-color:								#D05;

// ins element
@base-ins-background:						#ffa;
@base-ins-color:							@gray-dark;

// mark element
@base-mark-background:						#ffa;
@base-mark-color:							@gray-dark;

// selection
@base-selection-background:					@global-primary;
@base-selection-color:						@white;

@base-margin-vertical:						@global-spacing;
	
// h1 - h6 element
@base-heading-font-weight:					600;
@base-heading-margin-top:					2em;

// hr
@base-hr-border:							@gray-lighter;

// blockquote
@base-blockquote-border:					@global-border;
@base-blockquote-small-color:				@gray-light;
@base-blockquote-font-size:					1.6rem; // 16px
@base-blockquote-line-height:				1.5; // 22px


// =============================================================================
// Header base
// =============================================================================
	@ui-header-position:relative;
	@ui-header-width:100%;
	@ui-header-background:rgba(255, 255, 255, 0.8);
	@ui-header-height: 49px;

// =============================================================================
// Slide base
// =============================================================================

    @slide-position:relative;
    @slide-width:100%;
    @slide-height:auto;
    @slide-img-width:100%;

// =============================================================================
// Buttons
// =============================================================================

// =============================================================================
// Code variables
// =============================================================================



// =============================================================================
// Forms
// =============================================================================



// Form states and alerts
// -----------------------------------------------------------------------------



// =============================================================================
// Input-group variables
// =============================================================================



// =============================================================================
// Image variables
// =============================================================================



// =============================================================================
// Table variables
// =============================================================================



// =============================================================================
// Article variables
// =============================================================================



// =============================================================================
// Badge variables
// =============================================================================



// =============================================================================
// Breadcrumb variables
// =============================================================================



// =============================================================================
// Close variables
// =============================================================================



// =============================================================================
// Comment variables
// =============================================================================


// =============================================================================
// Icon variables
// =============================================================================



// =============================================================================
// List variables
// =============================================================================



// =============================================================================
// Nav variables
// =============================================================================



// Nav -> Tabs
// -----------------------------------------------------------------------------



// =============================================================================
// Topbar variables
// =============================================================================



// =============================================================================
// Pagination variables
// =============================================================================



// =============================================================================
// Panel variables
// =============================================================================



// =============================================================================
// Progress variables
// =============================================================================



// =============================================================================
// Thumbnail variables
// =============================================================================



// =============================================================================
// Utility variables
// =============================================================================

@utility-scrollable-height: 240px;
