<!DOCTYPE HTML>
<html lang="en" id="html">
<head>
    <!-- build:section layout.meta -->
    <!-- /build -->
    <title>活动页面,需要给html添加id</title>
    <script type="text/javascript" src='../js/lib/zepto.js'></script>
    <script type="text/javascript" src='../js/ui.active.loading.js'></script>
</head>
<body>
<!-- 加载遮罩 -->
<div class="mask" id="loadMask" data-note="加载...">
    <div class="loading">
        <span id='processValue'>0</span>
    </div>
</div>
<div class='active-wrap'>
    <div class="act-denglong J-loading-show"></div>
    <div class="act-tit J-loading-show"></div>
    <div class="act-btn J-loading-show"><a href="#"></a></div>
    <footer class="active-footer J-loading-show">
        <div class="act-note">还剩余 <span>1000</span> 份</div>
    </footer>
</div>
</body>
</html>