<!DOCTYPE html>
<html>
<head>
    <title>liveapp</title>
    <!-- build:section layout.meta -->
  	<!-- /build -->
    <link rel="stylesheet" type="text/css" href="../css/theme.css" media="all">
    <link rel="stylesheet" type="text/css" href="../css/app.css" media="all">
    <script charset="utf-8" src="../js/lib/zepto.js"></script>
    <script charset="utf-8" src="../js/ui.liveapp.js"></script>
</head>

<body class="f-body-bg" >
<section data-widget="liveapp" class="ui-liveapp">
		<article data-page="1" class="ui-liveapp-page ui-liveapp-page1 show">
			<div class="page-cont">
				<!-- 自定义内容  -->
				<div class="tt" ><h1>车挣盒子</h1></div> 
				<div class="goods">1<img src="../../assets/img/project/p-page1.png" alt=""></div>
				<!-- 箭头 -->
				<div class="page-arrow page-arrow-deful"></div> 
			</div>
		</article>
		<article data-page="2" class="ui-liveapp-page ui-liveapp-page2 hide">
			<div class="page-cont">
				<!-- 背景图  -->
				<div class="page-bg">2<img src="../../assets/img/project/rze.jpg" alt=""></div>
				<!-- 箭头 -->
				<div class="page-arrow page-arrow-deful"></div> 
			</div>
		</article>
	</section>
</body>
</html>