<!DOCTYPE html>
<html>
<head>
    <title>menu</title>
    <!-- build:section layout.meta -->
  	<!-- /build -->
</head>

		
	
	<!-- 基于 mixins 的 Menu -->
	<nav class="ui-menu ui-menu-one">
		<ul class="ui-menu-nav">
			<li class="nav-item">
				<a href="#" class="item-cont">首页</a>
			</li>
			<li class="nav-item z-active">
				<a href="#" class="item-cont">适配车型</a>
				<ul class="ui-menu-nav2">
					<li class="nav-item"><a href="#" class="item-cont">宝马</a></li>
					<li class="nav-item"><a href="#" class="item-cont">奥迪</a></li>
					<li class="nav-item"><a href="#" class="item-cont">奔驰</a></li>
					<li class="nav-item"><a href="#" class="item-cont">大众</a></li>
					<li class="nav-item"><a href="#" class="item-cont">别克</a></li>
					<li class="nav-item"><a href="#" class="item-cont">特斯拉</a></li>
					<li class="nav-item"><a href="#" class="item-cont">吉利汽车</a></li>
					<li class="nav-item"><a href="#" class="item-cont">东风标志</a></li>
				</ul>
			</li>
			<li class="nav-item">
				<a href="#" class="item-cont">场见问题</a>
			</li>
			<li class="nav-item">
				<a href="#" class="item-cont">安装说明</a>
			</li>
		</ul>
	</nav>

</body>
</html>