<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Yecui 模板页面</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="../../assets/img/favicon.png">
  <link rel="apple-touch-icon" href="../../assets/img/favicon.png">
  <link rel="stylesheet" href="../../assets/css/base.css">
</head>
<body>
	<!-- Header -->
	<header data-widget="header" class="m-header m-header-default">
	  <h1 class="m-header-title">
	    Hellow Yecui
	  </h1>
	</header>
<script type="text/javascript" src="../../assets/js/zepto.js"></script>

</body>
</html>