/* ==========================================================================
   Component: Aniamtion
 ============================================================================ */
[class*="am-"] {
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
/* start */
/* Fade */
/* Scale */
/* Slide */
/* Shake */
/* Spin */
/* Spring */
/* Keyframes
 ============================================================================ */
/* Fade */
@-webkit-keyframes am-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes am-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Scale up */
@-webkit-keyframes am-scale {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes am-scale {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes am-scale-heart {
  0% {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes am-scale-heart {
  0% {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes am-scale-up {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes am-scale-up {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/* Scale down */
@-webkit-keyframes am-scale-down {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes am-scale-down {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/* Slide top */
@-webkit-keyframes am-slide-top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes am-slide-top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/* Slide bottom */
@-webkit-keyframes am-slide-bottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes am-slide-bottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/* Slide left */
@-webkit-keyframes am-slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes am-slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/* Slide right */
@-webkit-keyframes am-slide-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes am-slide-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/* Shake */
@-webkit-keyframes am-shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10% {
    -webkit-transform: translateX(-9px);
            transform: translateX(-9px);
  }
  20% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  30% {
    -webkit-transform: translateX(-7px);
            transform: translateX(-7px);
  }
  40% {
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  60% {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
  }
  70% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  90% {
    -webkit-transform: translateX(-1px);
            transform: translateX(-1px);
  }
}
@keyframes am-shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10% {
    -webkit-transform: translateX(-9px);
            transform: translateX(-9px);
  }
  20% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  30% {
    -webkit-transform: translateX(-7px);
            transform: translateX(-7px);
  }
  40% {
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  60% {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
  }
  70% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  90% {
    -webkit-transform: translateX(-1px);
            transform: translateX(-1px);
  }
}
/* Slide top fixed */
@-webkit-keyframes am-slide-top-fixed {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes am-slide-top-fixed {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/* Slide bottom fixed */
@-webkit-keyframes am-slide-bottom-fixed {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes am-slide-bottom-fixed {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/* Spin */
@-webkit-keyframes am-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
@keyframes am-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
/* Spring */
@-webkit-keyframes am-right-spring {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes am-right-spring {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes am-left-spring {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes am-left-spring {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes am-arrow-start {
  0%,
  30% {
    opacity: 0;
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, -8px);
            transform: translate(0, -8px);
  }
}
@-webkit-keyframes am-loading-piano {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
/**
*
* 变量
** 1.设置默认字体大小
** 2.每份rem的大小
*
**/
/*1*/
/*2*/
/**
* 循环函数
**/
/**
* 通用混合函数
**/
/**
* resets
**/
body,
html,
ul,
ol,
section,
header,
footer {
  margin: 0;
  padding: 0;
}
*:before,
*:after {
  box-sizing: border-box;
}
/**
* start
**/
html {
  height: 100%;
  font-size: 20px;
}
@media only screen and (min-width: 352px) {
  html {
    font-size: 22px !important;
  }
}
@media only screen and (min-width: 384px) {
  html {
    font-size: 24px !important;
  }
}
@media only screen and (min-width: 416px) {
  html {
    font-size: 26px !important;
  }
}
@media only screen and (min-width: 448px) {
  html {
    font-size: 28px !important;
  }
}
@media only screen and (min-width: 480px) {
  html {
    font-size: 30px !important;
  }
}
@media only screen and (min-width: 512px) {
  html {
    font-size: 32px !important;
  }
}
@media only screen and (min-width: 544px) {
  html {
    font-size: 34px !important;
  }
}
@media only screen and (min-width: 576px) {
  html {
    font-size: 36px !important;
  }
}
@media only screen and (min-width: 608px) {
  html {
    font-size: 38px !important;
  }
}
@media only screen and (min-width: 640px) {
  html {
    font-size: 40px !important;
  }
}
body {
  height: 100%;
  margin: 0;
}
/**
* 加载遮罩
**/
.mask {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
}
.mask .loading {
  width: 200px;
  height: 90px;
  top: 50%;
  right: none;
  bottom: none;
  left: 50%;
  position: absolute;
  margin-top: -45px;
  margin-left: -100px;
  text-align: center;
  color: #fff;
}
.mask .loading:before {
  width: 20px;
  height: 20px;
  content: '';
  display: inline-block;
  -webkit-animation: rotate 1s steps(12) infinite;
  background: url(img/loading_sprite_white.png);
  -webkit-background-size: auto 20px;
}
@-webkit-keyframes rotate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -240px 0;
  }
}
/**
* 统一的元素
**/
.active-footer,
.act-denglong,
.act-tit,
.act-btn,
.act-btn,
.act-note {
  position: absolute;
}
/**
* 正文开始
**/
.active-wrap {
  width: 100%;
  height: 100%;
  top: none;
  right: none;
  bottom: 0;
  left: 0;
  min-height: 20rem;
  min-width: 14rem;
  max-width: 640px;
  margin: 0 auto;
  position: relative;
  background-image: url(img/bg.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #220a09;
}
.active-footer {
  display: none;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: am-slide-bottom;
          animation-name: am-slide-bottom;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  width: 100%;
  height: 6.85rem;
  top: none;
  right: none;
  bottom: 0;
  left: 0;
  background-image: url(img/ft-bg.png);
  background-size: cover;
  background-position: left bottom;
  background-repeat: no-repeat;
}
.act-denglong {
  display: none;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: am-slide-top;
          animation-name: am-slide-top;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  width: 6rem;
  height: 12.25rem;
  top: 0;
  right: none;
  bottom: none;
  left: 0;
  background: url(img/denglong.png);
  background-size: cover;
}
.act-tit {
  display: none;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: am-slide-top;
          animation-name: am-slide-top;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  width: 10.175rem;
  height: 9.2rem;
  top: 0;
  right: 0;
  bottom: none;
  left: none;
  background: url(img/tit.png);
  background-size: cover;
}
.act-btn {
  display: none;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: am-scale-heart;
          animation-name: am-scale-heart;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  width: 5.55rem;
  height: 5.55rem;
  top: 50%;
  right: none;
  bottom: none;
  left: 50%;
  background: url(img/btn.png);
  background-size: cover;
  z-index: 1;
  margin-left: -2.75rem;
  margin-top: -2rem;
}
.act-btn a {
  display: block;
  width: 100%;
  height: 100%;
}
.act-note {
  top: none;
  right: 2rem;
  bottom: 2rem;
  left: none;
  color: #fff;
  font-size: .7rem;
}
.act-note span {
  color: #ff5123;
}
